h1 {
  background-color: aqua;
  text-align: center;
}
.list {
  color: rgb(255, 0, 98);
}
#first {
  color: blue;
}
.bolded {
  font-weight: bolder;
  font-size: 50px;
}
img {
  width: 200px;
  height: 200px;
}
.bird img {
  width: 500px;
  height: 500px;
}
.para {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
